body {
  font-family: "Google Sans", arial, sans-serif;
  /* background-color: #e3def0; */
  background-color: #dad9f8;
}
h1 {
  font-family: "Dosis", sans-serif;
  margin: 20px auto 30px auto;
  margin-bottom: 30px;
  font-weight: 900;
}
h2 {
  color: rgb(32, 33, 36);

  font-size: 30px;
  font-weight: 400;

  line-height: 26px;

  width: 326px;
}
.weatherApp {
  background-color: #fff;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid rgb(148, 142, 142);
  border-radius: 5px;
}
ul {
  list-style: none;
  padding: 0;
}

form {
  margin-bottom: 30px;
}
li,
.description {
  color: rgb(112, 117, 122);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  width: auto;
  line-height: 1;
}

li.detail {
  margin-top: 10px;
  font-size: 12px;
  width: 90px;
}

.temp-container {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  width: auto;
}
.weatherApp footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.weatherApp .unit {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: 16px;
}

a {
  text-decoration: none;
}
.weatherApp .search-input {
  display: inline-block;
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  margin: 10px auto;
}

.weatherApp .btn {
  background: #6d6bc1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;

  border: none;
  height: 50px;
  margin: 10px auto;
}
.row.second {
  padding: 30px;
}

.weatherApp img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}
.description {
  float: right;
}
.description::first-letter {
  text-transform: uppercase;
}

.weatherApp .active {
  color: #212121;
  cursor: default;
}

.weather-forecast {
  margin: 30px 20px;
  text-align: center;
}
.weather-forecast-date,
.weather-forecast-temp-min {
  opacity: 0.7;
}

.weather-forecast-temp {
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}
.weather-forecast-date {
  font-weight: 400;
}
.weather-forecast img {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

hr {
  height: 1px;
  background-color: #b8b7da;
  border: none;
}
