body {
  font-family: "Google Sans", arial, sans-serif;
  background-color:#e3def0;
}
h1 {
  font-family: "Dosis", sans-serif;
  margin: 20px auto 30px auto;
  margin-bottom: 30px;
  font-weight: 900;
}
h2 {
  color: rgb(32, 33, 36);
 
  font-size: 22px;
  font-weight: 400;
 
  line-height: 26px;
 
  width: 326px;
}
.weatherApp {
  background-color: #fff;
  max-width:700px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid rgb(148, 142, 142);
  border-radius: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
form {
  margin-bottom: 30px;
}
li.time {
  color: rgb(112, 117, 122);
  /* display: inline; */
  font-size: 16px;
  font-weight: 400;
  height: auto;
 
  
  width: auto;
}
li.detail {
  color: rgb(112, 117, 122);
  /* display: block; */
  font-size: 12px;
  font-weight: 400;
  /* height: 16px; */
  /* line-height: 16px; */
  width: 90px;
}

.temp{
  color:rgb(32, 33, 36);
display:inline;

font-size:48px;
font-weight:400;
height:auto;
line-height:60px;
width:auto;

}
.weatherApp footer{    
font-size: 14px;
margin-top: 40px;
line-height: 18px;
text-align: center;
color: rgba(39,33,66,.4);
}

.weatherApp .unit{
color: #212121;
font-size: 28px;
font-weight: 400;
position: relative;
line-height: 1;
top: 6px;
}

.weatherApp .search-input{
  display: inline-block;
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: rgba(39,33,66,.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;}
  
  .weatherApp .btn{
  background: #6d6bc1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  
}
.row.second{
  padding: 40px;
}

